nextflow.enable.dsl = 2

params {
  mode = 'full'
  outdir = 'results'
  input = null
  input_type = 'auto'
  samplesheet = null

  genome = 'hg38'
  assembly = null
  fasta = null
  fasta_fai = null
  chrom_size = null
  chrom_sizes = null
  bwa_index = null
  bowtie2_index = null
  aligner = 'bwamem2'

  blacklist_bed = null
  low_mappability_bed = null
  centromere_telomere_bed = null
  chromosome_arms_bed = null
  healthy_reference_panel = null
  regulatory_bed = null

  feature_matrix = null
  model = null
  model_metadata = null
  model_metrics = null
  predictions = null
  cv_predictions = null
  test_predictions = null
  labels_required = false
  tissue_of_origin = false
  train_max_features = 5000

  min_mapq = 30
  min_fragment_length = 50
  max_fragment_length = 500
  samtools_exclude_flags = 3844
  fragment_min_len = 50
  fragment_max_len = 500
  short_min = 100
  short_max = 150
  long_min = 151
  long_max = 220
  autosomes_only = true
  chrom_style = 'match_bins'

  fastp_min_length = 30
  fastp_qualified_quality_phred = 20
  fastp_detect_adapter_for_pe = true

  bin_small = 100000
  bin_large = 5000000
  bin_count_batch_size = 1000000
  bin_count_hist_max_length = 1000
  loess_frac = 0.30

  run_end_motifs = false
  run_wps = false
  write_fragment_bed = false
  research_language = true

  qc_min_filtered_fragments = 5000000
  qc_min_autosomal_coverage = 0.1
  qc_max_duplicate_rate = 0.35
  qc_min_median_fragment_length = 120
  qc_max_median_fragment_length = 190
  qc_max_mito_fraction = 0.20
  qc_min_fraction_proper_pair = 0.80
}

process {
  executor = 'local'
  errorStrategy = 'retry'
  maxRetries = 1
  withName: '.*FASTP.*' { cpus = 4; memory = '8 GB' }
  withName: '.*ALIGN.*' { cpus = 8; memory = '24 GB' }
  withName: '.*MARK_DUPLICATES.*' { cpus = 4; memory = '16 GB' }
  withName: '.*FILTER_BAM.*' { cpus = 4; memory = '12 GB' }
  withName: '.*BIN_FRAGMENT_COUNTS.*' { cpus = 2; memory = '16 GB' }
  withName: '.*TRAIN_MODEL.*' { cpus = 4; memory = '16 GB' }
}

profiles {
  docker { includeConfig 'conf/docker.config' }
  singularity { includeConfig 'conf/singularity.config' }
  slurm { includeConfig 'conf/slurm.config' }
  gcp { includeConfig 'conf/gcp.config' }
  aws { includeConfig 'conf/aws.config' }
}

includeConfig 'conf/base.config'
